@import "../styles/variables.scss";


.banner {
  position: relative;
  width: 100%;
  height: 100%;
}
.about_us {
  width: 80%;
  background-color: linear-gradient(to right, #186998, #093165);
  border-radius: 77px;
  
}