@import "../../styles/variables.scss";

.wrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: $tablet) {
  .title {
    width: auto;
    font-size: 36px !important;
    padding: 0 0.5rem  0.5rem 0.5rem!important;
  }
}